.container {

    position: absolute;

    top: 50px;

    bottom: 50px;

    left: 100px;

    right: 100px;

    border: 1px, solid, gray;

    display: flex;

    flex-direction: column;

}



body,

html {

    height: 100%;

    background-image: url("../images/products/background.jpg");

    margin: 0;



}



input {

    width: 100%;

    padding: 12px 20px;

    border: 1px solid #ccc;

    border-radius: 4px;

    box-sizing: border-box;

}



.co__header {

    display: flex;

    border-bottom: 1px solid gray;

    border-top: 1px solid gray;

    background-color: white;

    padding: 8px;

}



.co__header .co--checkout {

    flex-basis: 200px;

}



.co__header .co--breadcrumb {

    flex: 1;

}



.breadcrumb .breadcrumb--PM {

    font-weight: bold;

}



.co--breadcrumb ul.breadcrumb {

    list-style: none;

}



ul.breadcrumb li {

    display: inline;

    font-size: 17px;

}



ul.breadcrumb li+li:before {

    padding: 8px;

    color: black;

    content: "/\00a0";

}

























.co__body {

    display: flex;

    flex: 1;

    background-color: white;

    border: 1px solid rgb(223, 227, 227);



}



.co__body .co--details {

    display: flex;

    flex: 3;

    flex-direction: column;



}



.co--details .co--wallet,

.co--NewCard {

    display: flex;

    padding: 7px;

    border-bottom: 1.5px solid lightgray;

    font-weight: bold;

}



.co--details .co--images {

    display: flex;

}



.co--details .co--images>div {



    max-width: 100%;

}



.co--details .co--cardContainer {

    flex: 1;



    max-width: 350px;

    margin: 0 auto;

}



.co--creditCard {

    display: flex;

    flex-direction: column;

}



.co--creditCard .details {

    display: flex;



}



.co--creditCard>div {

    padding: 10px;

}



.co--creditCard.details>div>input {

    width: 49%;

    flex: 1;



}



.co--creditCard .continue {

    display: block;

    width: 100%;

    border: none;

    background-color: #4CAF50;

    padding: 14px 28px;

    font-size: 16px;

    cursor: pointer;

    text-align: center;

    color: white;



}



.co--details .co--images {

    display: flex;

}



.co--images>div>img {

    flex: 1;

    width: 90%;

    padding: 10px;

}



.co--images>div>img:hover {

    border: 1px solid gray;

    background-color: floralwhite;

}







.co__body .co--items {

    display: flex;

    flex-direction: column;

    flex: 2;

}



.co--items .co--itemDetails {



    display: flex;

    flex-direction: column;

    flex: 3;

}



.co--itemDetails .co--itemList {

    display: flex;

    flex: 1;

    flex-direction: column;

}



.co--itemList .co--item--blocks {

    flex: 1;

    display: flex;

    flex-direction: column;



}



.co--item--blocks .co--item--pic {

    flex: 1;

    max-width: 100%;

}



.co--item--blocks .co--item--row {

    flex: 4;

    display: flex;

    flex-direction: row;

}



.co--item--row .co--item {

    flex: 1;

}



.co--item--row .co--itemPrice {}







.c-item {

    display: flex;

    flex-direction: row;

    border-bottom: 1px solid darkgray;

}



.c-item__img {

    flex: 2;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: lightgray;

}



.c-item__details {

    flex: 8;

    padding: 5px;

}



.c-item__total {

    flex: 2;

    display: flex;

    justify-content: flex-end;

}



.pricing__calc>div {

    display: flex;

    justify-content: space-between;

    flex-direction: column;

}



.pricing__total>div {

    display: flex;

    justify-content: space-between;

    flex-direction: column;

}



.pricing__calc-type {

    flex: 8;

}



.pricing__calc-rate {

    flex: 2;

    display: flex;

    align-items: flex-end;

}



.pricing__calc {

    flex: 8;

}



.pricing__total {

    flex: 2;

}



.co--total {

    flex: 1;

    display: flex;

    align-content: flex-end;

    flex-direction: column;

}



.co--total>div {

    border-top: 1px solid darkgray;

    padding: 8px;

    display: flex;

    flex-direction: row;

}